html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

/* a {
  text-decoration: none;
}

a:link {
  color: #000000;
}

a:visited {
  color: #000000;
}

a:focus {
  color: #766357;
}

a:hover {
  color: #81b3d2;
}

a:active {
  color: #cacaca;
}

ul, li {
  margin: 0;
}

button {
  box-shadow: 0;
  border: 0;
}*/

/*служебные стили*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Навигация*/

.main-navigation {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  background-color: #ffffff;
  color: #000000;
}

.main-navigation a {
  text-decoration: none;
  color: #000000;
}

.main-navigation a:link {
  color: #000000;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active {
  color: #cacaca;
}

.main-logo {
  position: absolute;
  left: 50%;
  margin-left: -69px;
  top: 0px;
}

.site-navigation {
  display: flex;
  list-style: none;
  padding-left: 73px;
  padding-right: 73px;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: space-between;
}

.site-navigation li {
  list-style: none;
  margin: 0;
  /*width: 240px;*/
}

ul.site-navigation {
  margin: 0;
}

.nav-left {
  text-align: left;
  /*margin-right: auto;*/
  margin-left: 0;
  width: 240px;
}

.nav-right {
  text-align: right;
  /*margin-left: auto;*/
  margin-right: 0;
  width: 240px;
}

.nav-right:nth-child(3) {
  margin-left: auto;
  width: auto;
}

.navigation-active a {
  color: #766357;
}

.navigation-active a:link {
  color: #766357;
}

.navigation-active a:hover {
  color: #766357;
}

.navigation-active a:active {
  color: #766357;
}

.navigation-active a:visited {
  color: #766357;
}

/* Основная часть, вводная инфа*/

.container {
  background-color: #ffffff;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 8px rgba(122, 122, 122, 0.2);
}

.presentation-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 600px;
  padding-top: 60px;
  padding-bottom: 48px;
}

p.presentation-text {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 0 0 28px;
  padding: 0;
}

p.presentation-subtext {
  text-align: center;
  font-size: 14px;
  color: #333333;
  margin: 0;
  padding: 0;
}

.presentation-subtext p {
  margin: 0;
  padding: 0;
}

.intro {
  height: 510px;
  background-color: #5284b3;
  background-image: url("../img/welcome.png"), url("../img/white_mask.svg"), url("../img/sedona_background1200.jpg");
  background-repeat: no-repeat;
  background-position: center 77px, bottom center, center -82px;
  margin-left: auto;
  margin-right: auto;
}

/* Основная часть, 5 причин*/

.five-reasons-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

ul.five-reasons-list {
  margin: 0;
  padding: 0;
}

.five-reasons-element-1 {
  display: flex;
  background-color: #81b3d2;
  color: #ffffff;
  width: 100%;
  text-align: center;
  min-height: 256px;
  padding: 0px;
}

.first-feature {
  order: -2;
}

.container-text-foto-sedona {
  display: block;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  color: #fff;
  width: 33.333333%;
}

.container-photo-sedona {
  width: 66.666666%;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: 0px -78px;
  background-repeat: no-repeat;
  flex-grow: 1;
  flex-shrink: 0;
}

.container1 {
  background-image: url("../img/feature1.jpg");
}

.container2 {
  background-image: url("../img/feature2.jpg");
}

.container-photo-sedona img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.five-reasons-element-1 .number-cause {
  color: #ffffff;
}

.five-reasons-element-1 .five-reasons-normal {
  color: #ffffff;
}

.five-reasons-element-2 {
  text-align: center;
  background-color: #eeeeee;
  width: 33.3333333%;
  padding-top: 46px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 66px;
  box-sizing: border-box;
  margin: 0;
}

.five-reasons-title {
  display: block;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  width: 70%;
  padding: 0 50px 0;
  margin-left: auto;
  margin-right: auto;
}

h3.five-reasons-title {
  margin-bottom: 20px;
  margin-top: 0px;
}

p.five-reasons-normal {
  font-size: 14px;
  line-height: 21px;
  padding: 0 28px 0;
  margin: 0;
  color: #333333;
}

p.five-reasons-normal-black {
  font-size: 14px;
  line-height: 21px;
  padding: 0 48px 0;
  margin: 0;
  color: #333333;
}

span.number-cause {
  font-size: 14px;
  color: #333333;
  margin-bottom: 18px;
  display: block;
}

.photo-sedona {
  margin: 0px;
  width: 66.666666%;
  overflow: hidden;
  position: relative;
}

.photo-sedona img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*дополнительный пункт*/

.five-reasons-extra-element {
  text-align: center;
  width: 100%;
  order: -1;
}

.five-reasons-subcategory {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

ul.five-reasons-subcategory {
  margin: 0;
  padding: 0;
}

.five-reasons-subcategory li {
  margin: 0;
  padding: 0;
}

li.five-reasons-subelement {
  padding-top: 162px;
  padding-bottom: 84px;
  padding-left: 0px;
  padding-right: 0px;
  flex-grow: 1;
  width: 33.3333%
}

.house {
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: center 60px;
}

.food {
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: center 62px;
}

.gifts {
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: center 56px;
}

/*поиск отеля на главной*/

.search-hotel-wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.search-hotel {
  padding: 0;
}

button.search-hotel-title {
  display: block;
  background-color: #766357;
  text-align: center;
  color: #ffffff;
  width: 568px;
  margin-left: auto;
  margin-right: auto;
  font-size: 21px;
  text-transform: inherit;
}

.invitation {
  text-align: center;
  font-size: 30px;
}

.text-hotel {
  text-align: center;
}

/*собственно форма поиска*/

form.search {
  width: 568px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #cccccc;
}

input {
  height: 24px;
}

/*индекс: форма на главной*/

.form-input {
  box-sizing: border-box;
  padding: 10px;
  border: 2px solid #f2f2f2;
  outline: none;
  font-size: 14px;
  line-height: 18px;
  height: 38px;
  background: #f2f2f2;
}

.form-input:hover {
  border-color: #ebebeb;
  background: #ebebeb;
}

.form-input:focus {
  border-color: #e5e5e5;
  background: #ffffff;
}

.form-input.form-input-error {
  border-color: #f00;
}

.hotel-choice {
  position: relative;
  z-index: 1;
  width: 568px;
  margin: 0 auto;
  text-align: center;
  padding: 55px 0 0;
}

p.interesting {
  padding: 0 0 20px;
  margin: 0;
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
}

p.interest-inform {
  padding: 0;
  margin: 5px 0 50px 0;
}

.hotel-choice p {
  line-height: 24px;
}

.hotel-choice .mybutton-toggle {
  display: block;
  position: relative;
  z-index: 2;
  padding-top: 45px;
  padding: 30px;
  font-size: 21px;
  line-height: 26px;
}

.hotel-choice-popup {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  background: #ffffff;
  padding: 55px;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, .18);
  animation: fade 0.8s;
}

.form {
  font-weight: 700;
}

.counters {
  display: flex;
  justify-content: space-between;
}

.counter-adult-children {
  display: flex;
  flex-grow: 1;
}

.form-part {
  display: flex;
  position: relative;
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  border: none;
  font-size: 0;
  text-align: left;
}

button.icon-plus {
  width: 38px;
  height: 38px;
  font-size: 21pt;
}

button.icon-minus {
  width: 38px;
  height: 38px;
  font-size: 21pt;
}


.form-label {
  vertical-align: top;
  width: 115px;
  font-size: 14px;
  line-height: 41px;
}

.form-input {
  display: flex;
  vertical-align: top;
  font-weight: 700;
  text-transform: inherit;
}

.form-input-date {
  position: relative;
  width: 342px;
  padding-right: 38px;
}

.input-calendar {
  display: flex;
  position: relative;
}

.input-calendar button {
  background-color: transparent;
}

button.icon-calendar {
  margin: 0;
  padding: 0;
  border: 0;
  background-image: url("../img/calendar.svg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 38px;
  width: 38px;
  position: absolute;
  right: 0px;
}

button.icon-calendar:hover {
  background-color: transparent;
  background-image: url("../img/calendar_hover.svg");
}

button.icon-calendar:active {
  background-color: transparent;
  background-image: url("../img/calendar_active.svg");
  fill: red;
}

.counter {
  vertical-align: top;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  border: none;
  font-size: 0px;
}

.form-input-counter {
  width: 38px;
  padding: 8px 0;
  text-align: center;
}

.counter button {
  vertical-align: top;
  padding: 0;
  border: none;
  outline: none;
  color: #a9a9a9;
  background: #f2f2f2;
}

.counter button::before {
  display: block;
  width: 38px;
  margin: 0;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
}

.counter button:hover {
  color: black;
  background: #ebebeb;
}

.counter button:active {
  color: #81b3d2;
  background: #ebebeb;
}

.counter .form-label[for="counter-children"] {
  width: 65px;
  margin-left: 50px;
}

.form .mybutton {
  width: 100%;
  padding: 16px;
  font-size: 21px;
  line-height: 26px;
}

/* кнопки*/

.mybutton {
  display: inline-block;
  vertical-align: top;
  padding: 5px 17px;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: inherit;
  color: #fff;
  background: #81b3d2;
  cursor: pointer;
}

.mybutton:link {
  color: white;
}

.mybutton:hover {
  background: #669ec0;
  color: white;
}

.mybutton:active {
  color: rgba(255, 255, 255, .3);
  background: #5496bd;
  color: white;
}

.mybutton:visited {
  color: #fff;
}

.mybutton-order {
  background: #766357;
  width: 568px;
}

.mybutton-order:hover {
  background: #604e43;
}

.mybutton-order:active {
  background: #503e33;
}

.modal-show {
  display: block;
}

.popup-hide {
  display: none;
}

.popup-show {
  display: block;
}

/*Страница отелей: секция сортировки результатов поиска отеля */

.results-menu {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  width: 100%;
  border-bottom: solid #e5e5e5 1px;
  box-sizing: border-box;
  padding: 30px 73px 28px;
}

.results-menu button {
  box-shadow: 0;
  border: 0;
  background-color: inherit;
}

button.up {
  fill: #cacaca;
  margin: 0 4px 0 0;
  padding: 0;
  cursor: pointer;
  box-shadow: 0;
  border: 0;
}

button.down {
  fill: #cacaca;
  margin: 0;
  padding: 0;
  cursor: pointer;
  box-shadow: 0;
  border: 0;
}

button.arrow-button-current {
  fill: #81b3d2;
  box-shadow: 0;
  border: 0;
  margin: 0;
  padding: 0;
}

button.up:hover {
  fill: #000000;
}
button.up:link {
  fill: #cacaca;
}
button.up:focus {
  fill: #81b3d2;
}

button.up:visited {
  fill: #cacaca;
}

button.up:active {
  fill: #81b3d2;
}
button.down:hover {
  fill: #000000;
}
button.down:link {
  fill: #cacaca;
}
button.down:focus {
  fill: #81b3d2;
}

button.down:visited {
  fill: #cacaca;
}

button.down:active {
  fill: #81b3d2;
}

/*.sorting-arrows svg:link {
  fill: #cacaca;
}

.sorting-arrows svg:visited {
  fill: #cacaca;
}

.sorting-arrows svg:active {
  fill: #81b3d2;
}

.sorting-arrows svg:hover {
  fill: #000000;
}*/

.sorting-arrows {
  margin-left: auto;
}

.results-found {
  display: flex;
  flex-wrap: wrap;
  font-size: 21px;
  line-height: 26px;
  width: 140px;
  font-weight: 700;


}

.results-found-number {
  font-size: 21px;
  line-height: 26px;
  margin-left: 5px;



}

.results-sorting {
  display: flex;
  align-items: flex-end;
  font-size: 12px;
  max-width: 800px;
  padding-left: 22px;
}

li.results-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.results-sorting-title {
  display: flex;
  font-size: 12px;
  line-height: 18px;
}

.results-sorting-menu {
  display: flex;
  font-size: 12px;
  line-height: 18px;
}

.results-menu:last-child {
  margin-left: auto;
}

.results-sorting-classification {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

ul.results-sorting-classification {
  margin: 0;

}
.results-sorting-classification li{

}

.sorting-nav-current, .sorting-nav-plain {
  margin-right: 34px;
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
}

.sorting-nav-current a:link {
  color: #81b3d2;
  text-decoration: none;
}

.sorting-nav-current a:visited {
  color: #81b3d2;
  text-decoration: none;
}

li.sorting-nav-plain a:link {
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
  text-decoration: none;
}

li.sorting-nav-plain a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
  text-decoration: none;
}

li.sorting-nav-plain a:active {
  color: #000000;
  border-bottom: 0px;
  text-decoration: none;
}

.sorting-nav-plain a:visited {
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
  text-decoration: none;
}

.search-advanced {
  display: flex;
  justify-content: flex-start;
}

/*футер*/

.footer-info {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  padding-top: 36px;
  padding-bottom: 36px;
  position: relative;
  margin-top: -118px;
  justify-content: space-between;
}

.footer-info-inner {
  margin-top: 0px;
}

.footer-hash {
  font-size: 21px;
  font-weight: 700;
  width: 33.33333%;
  text-align: center;
}

.footer-social-networks {
  width: 33.3333%
}

.social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

ul.social {
  margin: 0px;
  padding: 0px;
}

.social li {
  background-color: #81b3d2;
  margin: 0 3px;
}

.social-element1 a, .social-element2 a, .social-element3 a {
  display: block;
  width: 46px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center center;
}

.social-element1, .social-element2, .social-element3 {
  list-style: none;
  width: 46px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center center;
}

.social-element1 a {
  background-image: url("../img/twitter.svg");
}

.social-element2 a {
  background-image: url("../img/fb-icon.svg");
}

.social-element3 a {
  background-image: url("../img/youtube.svg");
}

.social li:hover {
  background-color: #669ec0;
}

.social li:active {
  background-color: #5496bd;
}

.social-element1 a:active, .social-element2 a:active, .social-element3 a:active {
  opacity: 0.3;
}

.bottom-logo {
  width: 33.333333%;
  text-align: center;
}

.link-logo svg{
  width: 115px;
  height: 41px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  display: inline-block;
}
a.link-logo {
  color: #000000;
  text-decoration: none;
}

a.link-logo:hover {
  fill: #81b3d2;
  color: #81b3d2;
}

a.link-logo:active {
  fill: #cacaca;
  color: #cacaca;
}

.academy-logo {
  display: inline-block;
  vertical-align: middle;
}

.made-by {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

/*страница отелей: форма поиска расширенная*/

.search-field {
  background-color: #5284b3;
  background-image: url("../img/filter_background1200.jpg");
  background-repeat: no-repeat;
  background-position: center -300px;
  padding: 26px 69px 10px;
  margin: 0;
}

.search-advanced form {
  margin: 0;
  padding: 0;
}

.search-advanced {
  display: flex;
  justify-content: space-between;
}

.search-group {
  width: 255px;
  color: #ffffff;
}

.search-group:nth-child(2) {
  width: 255px;
  color: #ffffff;
  margin-right: auto;
}

.search-group-filter {
  box-sizing: border-box;
  margin-left: auto;
  margin-top: 0px;
  width: 320px;
}

.search-advanced-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  position: relative;
  display: block;
  padding-left: 42px;
}

.search-advanced-text::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.checkbox {
  cursor: pointer;
}

.checkbox-custom, .search-advanced-text {
  display: inline-block;
  vertical-align: middle;
}

.checkbox {
  display: block;
  margin-bottom: 20px;
}

.standart-checkbox {
  /*visually-hidden*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.standart-checkbox:checked~.search-advanced-text::before {
  background-image: url("../img/checkbox-on.svg");
}

.standart-checkbox:checked:disabled~.search-advanced-text::before {
  background-image: url("../img/checkbox-on.svg");
  opacity: 0.3;
}

.standart-checkbox:disabled~.search-advanced-text::before {
  background-image: url("../img/checkbox-off.svg");
  opacity: 0.3;
}
.checkbox input[type="checkbox"]:focus ~ .search-advanced-text::before {
background-color: rgba(179, 179, 210, 0.5);
width:24px;
height:24px;
border-radius: 4px;

}
/*карточки отелей*/

figure.hotels-list {
  margin-bottom: 30px;
}

.hotels-list button {
  box-shadow: 0;
  border: 0;
}
.hotels-list{
  background-color: #ffffff;
}

.hotels-list a {
  text-decoration: none;
}

figure.hotel-img {
  position: relative;
  margin-left: 0;
  margin-right: 30px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  width: 135px;
  height: 90px;
}

.hotel-img img {
  display: block;
  width: 135px;
  height: 90px;
}

.hotel {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 73px;
  padding-right: 73px;
  border-bottom: solid #e5e5e5 1px;
}

.hotel:last-child {
  margin-bottom: 0px;
}

.hotel-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*width: 100%;*/
  flex-grow: 2;
}

.hotel-details {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4px;
}

.hotel-about-title {
  margin: 0;
}

h3.hotel-about-title {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  margin-bottom: -1px;
  margin-top: -2px;
}

.hotel-about-title a {
  color: #000000;
  margin: 0;
  padding: 0;
  line-height: 26px;
}

.hotel-about-title a:link {
  color: #000000;
}

.hotel-about-title a:hover {
  color: #81b3d2;
}

.hotel-about-title a:active {
  color: #81b3d2;
}

.hotel-type {
  font-size: 14px;
  color: #333333;
  width: 118px;
}

.hotel-price {
  font-size: 14px;
  color: #333333;
  width: 110px;
}

.hotel-buttons {
  display: flex;
}

.hotel-buttons button {
  margin: 0;
  padding: 0;
  height: 27px;
  box-shadow: 0;
  border: 0;
}

button.hotel-button-action {
  padding-left: 16px;
  padding-right: 16px;
  color: white;
  text-transform: inherit;
  text-align: center;
  margin-right: 6px;
  line-height: 21px;
  box-shadow: 0;
  border: 0;
}

.hotel-button-link {
  background-color: #81b3d2;
  margin-right: 6px;
  height: 27px;
}

a.hotel-button-link {
  padding-left: 16px;
  padding-right: 16px;
  color: white;
  text-transform: inherit;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0px;
}

.hotel-buttons a:hover {
  background-color: #669ec0;
}

.hotel-buttons a:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-button-link {
  background-color: #81b3d2;
  margin-right: 6px;
  height: 27px;
}

button.hotel-button-link:hover {
  background-color: #669ec0;
}

button.hotel-button-link:active {
  background-color: #5496bd;
  color: #94b9d2;
}

.hotel-button-action {
  background-color: #766357;
}

button.hotel-button-action:hover {
  background-color: #604e43;
}

button.hotel-button-action:active {
  background-color: #503e33;
  color: #928a85;
}

.hotel-rating {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}

.rating-number {
  color: #666666;
  background-color: #f2f2f2f2;
  font-size: 14px;
  line-height: 21px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-right: 0px;
  text-align: right;
}

button.up {
  background-color: none;
}

button.down {
  background-color: none;
}

/*рейтинг отелей*/

.stars {
  text-align: right;
  margin-left: auto;
}

.ratings-stars {
  position: relative;
  width: 210px;
  height: 21px;
  background: transparent url("../img/icon-star.svg") repeat-x;
  background-position: right top;
  background-size: 24px;
}

.ratings-stars::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #ffffff;
}

.ratings-stars[data-rating="5"]::before {
  right: 110px;
}

.ratings-stars[data-rating="4"]::before {
  right: 88px;
}

.ratings-stars[data-rating="3"]::before {
  right: 66px;
}

.ratings-stars[data-rating="2"]::before {
  right: 44px;
}

.ratings-stars[data-rating="1"]::before {
  right: 22px;
}

/* карта */

.map {
  height: 593px;
  background: #e2e7d0 url("../img/map.png") no-repeat 50% 100%;
}

.map iframe {
  height: 593px;
  width: 100%;
  border: none;
}

.footer-map {}

/* страница отелей, расширенный поиск:сложная форма ввода инфы с ползунками */

.filter-range {
  margin-left: auto;
  width: 320px;
  color: #ffffff;
  margin: 0;
}

.filter-range-title {
  margin-bottom: 9px;
  margin-top: 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.filter-range-title h4 {
  margin: 0px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
  width: 320px;
}

.price-controls .min-price, .price-controls .max-price {
  width: 93px;
  padding-left: 60px;
  padding-right: 20px;
  font-size: 14px;
  line-height: 21px;
  margin: auto;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  box-sizing: content-box;
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: solid #ffffff;
  border-width: 8px;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
  font-size: 0;
  line-height: 0;
  padding: 0;
}

.range-toggle:hover {
  box-sizing: content-box;
  border-width: 11px;
  transform: translate(-13%, -13%);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 2px auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

button.btn-transparent {
  margin-left: 82px;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.filter-check-title {
  margin: 0 0 22px 2px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter-check-title h4 {
  margin: 0px;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
