body{

  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #f2f2f2;
  min-width: 1200px;

}

a {
  text-decoration: none;
}
a:link{
color:#000000;
}
a:visited{
color:#000000;
}
a:focus{
  color:#766357;
}
a:hover{
  color:#81b3d2;
}
a:active{
  color:#cacaca;
}

ul, li {
margin: 0;
padding: 0;
}

button{
  box-shadow: 0;
  border: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;

}


/* Навигация*/

.main-header{


}
.main-navigation {
  font-size: 14px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;


}
.main-logo{
  position: absolute;
  left: 50%;
  margin-left: -70px;
  top: 0px;



}
.site-navigation li{
    display: inline-block;
    /* flex-wrap: nowrap;
    justify-content: space-between;*/
    list-style:none;
    padding-left: 15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;


}
.site-navigation li:nth-child(2){
margin-right: 25%;

}

.site-navigation:nth-child(3){


}

.site-navigation li{
margin-bottom:0 px;

}
/*.site-navigation a{
color:black;
}*/

.nav-left{
float: left;
margin-left: 72px;
margin-right: 30px;
}
.nav-right{
float:right;
margin-right: 72px;
margin-left: 30px;

}
/* Основная часть, вводная инфа*/

.container{
  background-color: #ffffff;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  /* box-shadow: 0px 0px 8px rgba(122,122,122,0.2);*/

}

.presentation-container{
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width:600px;

}
.presentation-text{
  text-align: center;
  font-size: 21px;
  font-weight: bold;

}
.presentation-subtext{
  text-align: center;
  font-size: 14px;
  color: #333333;

}
.intro {
  display: block;
  max-width: 1200px;
  height: 510px;
  background-color: #5284b3;
  background-image: url("../img/welcome.png"),
                    url("../img/white_mask.svg"),
                    url("../img/sedona_background1200.jpg");
  background-repeat: no-repeat;
  background-position: center center, bottom center, center -80px;
  margin-left: auto;
  margin-right: auto;

}

/* Основная часть, 5 причин*/

.five-reasons-container{
  max-width: 1200px;

}

.five-reasons-list{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  list-style: none;
}
ul.five-reasons-list{

}

.five-reasons-element-1 {
  display: flex;
  background-color: #81b3d2;
  color: #ffffff;
  width: 1200px;
  text-align: center;

}
#first-feature{
  order:-2;
}

.container-text-photo-sedona{
  padding: 60px 40px;
  color: #fff;
  width: 33.333333%;
  vertical-align: top;


}
.container-photo-sedona{
  width: 66.666666%;
  overflow: hidden;
  position: relative;
  flex-grow: 1;

}

.container-photo-sedona img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.five-reasons-element-1 .number-cause {
  color: #ffffff;
}

.five-reasons-element-1 .five-reasons-normal{
  color: #ffffff;
}



.five-reasons-element-2{
  text-align: center;
  background-color: #eeeeee;
  width:33.333%;
  padding-bottom: 30px;


}

.five-reasons-title{
  font-weight: bold;
  font-size: 21px;

}
h3.five-reasons-title{
margin-top: 30px;
margin-bottom: 30px;


}

.five-reasons-normal{
  font-size: 14px;

}

p.five-reasons-normal{

  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  color: #a8a8a8;

}




span.number-cause {
  font-size: 14px;
  color: #a8a8a8;
  margin-top: 30px;
  margin-bottom: 30px;

}



.photo-sedona{

margin: 0px ;
width: 66.666666%;
overflow: hidden;
position: relative;

		}

.photo-sedona img{
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
object-fit: cover;
	}


/*дополнительный пункт*/
.five-reasons-extra-element{
  text-align: center;
  order: -1;


}
.five-reasons-subcategory{
  display: flex;
  list-style: none;

}
.five-reasons-subelement{
  padding-top: 100px;
  padding-bottom: 20px;

}
 #house{
   background-image: url(../img/icon-1.svg);
   background-repeat: no-repeat;
   background-position: center 40px;
}
#food{
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: center 40px;
}
#gifts{
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: center 40px;
}



/*поиск отеля на главной*/
.search-hotel-wrapper{
  display: block;
  margin-left: auto;
  margin-right: auto;

}
button.search-hotel-title{
  display:block;
  background-color: #766357;
  text-align: center;
  color: #ffffff;
  width:568px;
  margin-left: auto;
  margin-right: auto;
  padding:20px;
  font-size: 21px;
text-transform: inherit;

}
.invitation{
  text-align: center;
  font-size: 30px;
}
.text-hotel{
  text-align: center;
}

/*форма поиска*/


form.search  {
    width: 568px;
margin-left: auto;
margin-right: auto;

    border: 1px solid #cccccc;
    }

    input {
        height: 24px;
    }

  /*  input[type="submit"] {
        width: auto;
        height: auto;
        margin: 0 5px;
        padding: 6px 15px;
        border: 0;
        background-color: #81b3d2;
        color:white;
    }
    */


/* .half{
    display: inline-block;
    width: 50%;
}
.buttons{
}
*/
.button-count{

}
.button-group{

}


/*секция сортировки результатов поиска отеля*/
.results-menu{
  display: flex;
  width: 100%;
  border-bottom: solid #e5e5e5 1px;
  margin-bottom: 30px;




}
.sorting-arrows{

display: flex;

}

.sorting-arrows svg:link {
fill: #81b3d2; }
.sorting-arrows svg:active {
fill: #cacaca; }

.sorting-arrows svg:hover {

fill: #81b3d2;}

.results-found{
margin-left: 73px;
font-size: 21px;
width:164px;
padding-right: 5px;

}
.results-found-number{


}
.results-sorting{
display: flex;
font-size: 12px;




}

li.results-menu  {
  list-style:none;
}

.results-sorting-title{
  display: flex;
  margin-right: 40px;

}
.results-sorting-menu{
  display: flex;
  align-items: flex-end;
  font-size: 12px;


}
.results-sorting-classification{
  display: flex;
  justify-content: flex-start;
  list-style:none;



}
.sorting-nav-current, .sorting-nav-plain{
  margin-right: 20px;


}
.sorting-nav-current a:link{
  color: #81b3d2;
}
.sorting-nav-plain a:link{
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}
.sorting-nav-plain a:hover{
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}
.sorting-nav-plain a:active{
  color: #000000;
  border-bottom: 0px;
  }


.search-advanced{
  display: flex;
  justify-content: flex-start;
  margin-left: 73px;
  margin-right: 73px;
}










/*футер*/

.footer-info{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  background-color: ffffff;
  max-width: 1200px;
  padding-top: 20px;
  justify-content: space-between;

}
.footer-hash{
  padding-left: 73px;
  font-size: 21px;

}
.footer-social-networks{


}
.social{
  display: flex;


}
.social-element1, .social-element2, .social-element3{
  list-style:none;
  margin-right: 7px;
  width:46px;
  height:46px;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center center;

}

.social-element1{
background-image: url("../img/twitter.svg");
}
.social-element2{
background-image: url("../img/fb-icon.svg");

}
.social-element3{
background-image: url("../img/youtube.svg");


}



.bottom-logo{
    vertical-align:top;
    margin-right: 100px;
}
.link-logo{


}
.academy-logo{
  display: inline-block;
  vertical-align: middle;
}
.made-by{
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

/*форма поиска расширенная*/
.advanced-form{


}

.search-field{

  background-color: #5284b3;
  background-image: url("../img/filter_background1200.jpg");
  background-repeat: no-repeat;
  background-position: center  -200px;

}
.search-advanced{

}
.search-group{

  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 120px;
  color: #ffffff;

}
.search-group:last-child{
  margin-left:auto;
  margin-right: 0px;
}

.search-advanced-text{
  font-weight: lighter;
  font-size: 14px;

}
.custom-box{

}
.checkbox{
  cursor:pointer;
  /*margin-left: 0px;*/
}
.checkbox-custom {
position: relative;
width: 30px;
height: 30px;
background-image: url(../img/checkbox-off.svg);
background-repeat: no-repeat;
}

.checkbox-custom,
.search-advanced-text {
	display: inline-block;
	vertical-align: middle;
}


.checkbox{
  display:block;
  margin-bottom: 10px;
}


.standart-checkbox {
  display: none;

}

.standart-checkbox:checked + .checkbox-custom::before {
	content: "";
	display: block;			 /* Делаем его блочным элементом */
  position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  border-radius: 2px;

}








.custom-box{
  :block;
  float:left;
  width:27;
  height:23;
  background-color:grey;
  margin-right:20px;
}

.checklist{

}
.from-to{

}
.cost-range{

}

/*карточки отелей*/
.hotels-list{

  /* display:flex;
  flex-direction: column;*/


}
figure.hotels-list{

  margin-bottom: 30px;
}
figure.hotel-img{
  margin-left: 73px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 0px;

}
.hotel{


display: flex;
margin-bottom: 30px;
padding-bottom: 30px;
border-bottom: solid #e5e5e5 1px;

}
.hotel:last-child{
  margin-bottom: 0px;
}

.hotel-about{
display: flex;
flex-direction: column;
justify-content: space-between;
width: 100%;

}
.hotel-details{

}
.hotel-description{

}
h3.hotel-about-title{
  font-size: 21px;
  color: #000000;
  margin-bottom: 0px;
  margin-top: 0px;


}
.hotel-type{
  font-size: 14px;
  color: #333333;

}
.hotel-price{
  font-size: 14px;
  color: #333333;
  margin-left: 40px;

}

.hotel-buttons{

}
.hotel-button-link, .hotel-button-action{

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 9px;
  padding-bottom: 8px;
  color: white;
  text-transform: inherit;
  text-align: center;
  margin-right: 6px;

}

.hotel-button-link{
  background-color: #81b3d2;

}
button.hotel-button-link:hover{
  background-color: #669ec0;
}

button.hotel-button-link:active{
  background-color: #5496bd;
  color: #94b9d2;
}



.hotel-button-action{
  background-color: #766357;
}

button.hotel-button-action:hover{
  background-color: #604e43;
}

button.hotel-button-action:active{
  background-color: #503e33;
  color: #928a85;
}


.hotel-rating{


  width: 24%;


}
.stars{

}

.rating-number{

  color: #666666;
  background-color: #f2f2f2f2;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-right: 0px;


}
button.up{
  background-color: inherit;
}
button.down{
  background-color: inherit;
}

/* карта */

.footer-map {

}
  .map {
    height: 593px;
    background: #e2e7d0 url('../img/map.png') no-repeat 50% 100%;
  }
    .map iframe {
      height: 593px;
      width: 100%;

      border: none;
    }

  .footer-map {

  }

  /* сложная форма ввода инфы */

  .filter-range{
  width: 330px;
   margin: 30px auto; /*для демо */
  color: #ffffff;

  }
  .filter-range-title{
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
  }

  .price-controls{
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  position: relative;
  }

  .price-controls::after {
  content: "";
  position: absolute;

  width: 2px;
  height: 22px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
}

  .price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
  }

  .price-controls .min-price,
  .price-controls .max-price {
    width: 90px;
    padding-left: 65px;
  }


  .price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;


  background: none;
  border: none;
}


  .min-price{}
  .max-price{}



  .range-controls{
    position: relative;
    margin-bottom: 32px;

  }
  .range-controls .scale {
    height: 2px;

    background: rgba(255, 255, 255, 0.3);
  }

  .range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.range-toggle {

  position: absolute; /*исходная позиция ползунов */
  top: -9px;


  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%; /*скруглили квадраты */
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

  .scale{}
  .bar{}

  .btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}
.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}
.filter-check-title{
  margin-left: 0px;
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;


}
.filter-check-title h4{

  font-size: 16px;

}
.filter-check-title {
  margin-bottom: 24px;
}
