body{

  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #f2f2f2;

}

a {
  text-decoration: none;
}
a:link{
color:#000000;
}
a:visited{
color:#000000;
}
a:focus{
  color:#766357;
}
a:hover{
  color:#81b3d2;
}
a:active{
  color:#cacaca;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Навигация*/

.main-header{


}
.main-navigation {
  font-size: 14px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;


}
.main-logo{
  position: absolute;
  left: 50%;
  margin-left: -70px;
  top: 0px;



}
.site-navigation{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    /*position: relative;*/
    list-style:none;
    padding-left: 15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    margin:0px;

}

.site-navigation li{
margin-bottom:0 px;

}
/*.site-navigation a{
color:black;

}*/

.nav-left{

}
.nav-right{

}
/* Основная часть, вводная инфа*/

.container{
  background-color: #ffffff;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  /* box-shadow: 0px 0px 8px rgba(122,122,122,0.2);*/

}

.presentation-container{
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width:600px;

}
.presentation-text{
  text-align: center;
  font-size: 21px;
  font-weight: bold;

}
.presentation-subtext{
  text-align: center;
  font-size: 14px;
  color: #333333;

}
.intro {
  display: block;
  max-width: 1200px;
  height: 510px;
  background-color: #5284b3;
  background-image: url("../img/welcome.png"),
                    url("../img/white_mask.svg"),
                    url("../img/sedona_background1200.jpg");
  background-repeat: no-repeat;
  background-position: center center, bottom center, center -80px;
  margin-left: auto;
  margin-right: auto;

}

/* Основная часть, 5 причин*/

.five-reasons-container{
  max-width: 1200px;

}

.five-reasons-list{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
}
ul.five-reasons-list{

}

.five-reasons-element-1 {
  display: flex;
  background-color: #81b3d2;
  color: #ffffff;
  max-width: 1200px;
  margin: 0 0;
  text-align: center;

}
#first-feature{
  order:-2;
}

.container-text-photo-sedona{
  padding: 10px;
  color: #fff;
  width: 33.333333%;
  vertical-align: top;

}
.container-photo-sedona{
  width: 66.666666%;
  overflow: hidden;
  position: relative;

}

.container-photo-sedona img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.five-reasons-element-1 .number-cause {
  color: #ffffff;
}

.five-reasons-element-1 .five-reasons-normal{
  color: #ffffff;
}



.five-reasons-element-2{
  text-align: center;

}

.five-reasons-title{
  font-weight: bold;
  font-size: 21px;
  margin-top: 200px;

}

.five-reasons-normal{
  font-size: 14px;
  color: #333333;
}
.number-cause{
  font-size: 14px;
  color: #333333;

}

.photo-sedona{


}

.photo-sedona{

margin: 0px ;
width: 66.666666%;
overflow: hidden;
position: relative;

		}

.photo-sedona img{
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
object-fit: cover;
	}


/*дополнительный пункт*/
.five-reasons-extra-element{
  text-align: center;
  order: -1;


}
.five-reasons-subcategory{
  display: flex;
  list-style: none;

}
.five-reasons-subelement{
height:300px;
}
 #house{
   background-image: url(../img/icon-1.svg);
   background-repeat: no-repeat;
   background-position: center;
}
#food{
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: center;
}
#gifts{
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: center;
}



/*поиск отеля на главной*/
.search-hotel-wrapper{
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.search-hotel-title{
  display:block;
  background-color: #766357;
  text-align: center;
  color: #ffffff;
  width:568px;
  margin-left: auto;
  margin-right: auto;
  padding:10px;

}
.invitation{
  text-align: center;
  font-size: 30px;
}
.text-hotel{
  text-align: center;
}

/*форма поиска*/

form {
    width: 568px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #cccccc;
    }

    input {
        height: 24px;
    }

    input[type="submit"] {
        width: auto;
        height: auto;
        margin: 0 5px;
        padding: 6px 15px;
        border: 0;
        background-color: #81b3d2;
        color:white;
    }


/* .half{
    display: inline-block;
    width: 50%;
}

.buttons{

}
*/
.button-count{

}
.button-group{

}
/*секция сортировки результатов поиска отеля*/
.results-menu{

}
.results-found{

}
.results-found-number{

}
.results-sorting{

}
.results-sorting-title{

}
.results-sorting-menu{

}
.results-sorting-classification{

}
.sorting-nav-current{

}
.sorting-nav-plain{

}










/*футер*/

.footer-info{
  display: flex;
  justify-content:space-around;
  align-items: center;
  background-color: ffffff;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;

}
.footer-hash{

}
.footer-social-networks{


}
.social{


}
.social-element{
  list-style:none;
  display: inline-block;
  margin-right: 20px;

}
.bottom-logo a{
    vertical-align:top;


}
.link-logo{


}

/*форма поиска расширенная*/

.search-field{

}
.search-advanced{

}
.search-group{

}
.search-advanced-text{

}
.custom-box{

}
.checkbox{
  cursor:pointer;
}
.standart-checkbox {
  display: none;
}
.custom-box{
  display:block;
  float:left;
  width:27;
  height:23;
  background-color:grey;
  margin-right:20px;
}
.checklist{

}
.from-to{

}
.cost-range{

}

/*карточки отелей*/
.hotel-img{

}
.hotel-about{

}
.hotel-description{

}
.hotel-about-title{

}
.hotel-type{

}
.hotel-price{

}
.hotel-button-link{

}
.hotel-button-action{

}
.hotel-rating{

}
.stars{

}

.rating-number{

}
